.main-header {
  margin-top:2rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.edit-icon {
  margin-left: 0%;
  cursor: pointer;
}

#edit {
  color: #42a5f5;
}

.gradient-button {
  background: linear-gradient(316deg,#310e68 0%,#4a0d55 40%,#5f0f40 80%) no-repeat 0 0/cover;
  color: #fff !important;
  padding: 8px 23px;
  letter-spacing: .7px;
  border: none;
  transition: transform 0.3s, background-color 0.3s;
}

:host ::ng-deep .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__text-label {
  color: #fff !important;
  font-size: 12px;
}

:host ::ng-deep .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  background-color: #198754;
  height: 24px;
}

.margin-left {
  margin-left: 2.5rem;
}

.responsive-paginator {
  width: 100%;
}

@media (max-width: 600px) {
  .responsive-paginator {
    font-size: 12px;
  }
}

@media (min-width: 601px) and (max-width: 960px) {
  .responsive-paginator {
    font-size: 14px;
  }
}

@media (min-width: 961px) {
  .responsive-paginator {
    font-size: 16px;
  }
}

.style {
  border-radius: 8px;
  margin-bottom: 3rem;
}

.search-heading {
  text-align: left;
  margin-left: 2rem;
  font-weight: 700;
  font-size: 1.2rem;
}

.col-auto {
  margin-left: 2rem;
}

.add-button {
  margin-right: 1rem;
}

.search-container {
  margin-top: 1.5rem;
}

#myInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 10px 10px 35px;
  border-radius: 10px;
}

.search {
  padding-top: 1rem;
  margin-top: 0.3rem;
  margin-left: 2.5rem;
  padding-bottom: 1rem;
  position: absolute;
  font-size: 18px;
}

.search input {
  width: 250px;
  height: 32px;
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.search .fa-search {
  position: absolute;
  top: 10px;
  left: auto;
  right: 10px;
}

::ng-deep .delete-modal {
  top: 30%;
  width: 94% !important;
  min-height: 50%;

  .modal-content {
    top: 0;
  }

  .modal-body {
    box-shadow: none;
  }
}
.content{
  contain: content;
}
table {
  width: 100%;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px !important;
}

.mat-row {
  &:hover {
    background-color: #e9f3ff;
  }
  a {
    color: #3e75ff;
    text-decoration: none;
    &:hover {
    text-decoration: underline;
    }
  }
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

// .mat-icon {
//   color: #3e75ff;
// }

@media screen and (max-width:1200px) {
  .example-table-container{
    overflow-x: scroll;
  }
}

@media screen and (max-width: 960px) {
  .mat-elevation-z8 {
    background: transparent;
    box-shadow: none;
  }

  .mat-header-row {
    display: none;
  }

  tbody {
    display: block;
    width: 100%;
  }
  
  .mat-table {
    background: transparent;
    * {
      box-sizing: border-box;
    }

    .mat-row {
      display: block;
      overflow: hidden;
      height: auto;
      position: relative;
      clear: both;
      box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
      background-color: #fff;
      border-radius: 3px;
      + .mat-row {
        margin-top: 24px;
      }
    }

    .mat-cell {
      display: block;
      width: 100%;
      padding: 0 16px;
      margin: 16px 0;
      border: 0 none;
      &:first-child {
        padding: 0 48px 0 16px;
        a {
          font-size: 20px;
          // font-weight: 400;
          color: inherit;
        }
        &:before {
          display: none;
        }
      }
      &.m-card-sub-title {
        margin-top: -8px;
        padding: 0 48px 0 16px;
        color: rgba(0,0,0,.54);
      }
    }

    .has_label_on_mobile {
      &:before {
        content: attr(data-label);
        display: inline;
        font-weight: normal;
      }
    }

    .mat-column-star {
      width: auto;
      padding: 8px 0 0 !important;
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;
      &:before {
        display: none;
      }
    }
  }

  .mat-paginator {
    margin-top: 24px;
  }

}

@media screen  and (max-width: 576px){
  .header{
    display: flex;
    justify-content: center !important;
    margin: 8px;
  }
  .card{
    margin: 0 22px !important;
  }
}

::ng-deep .mat-mdc-paginator-page-size-select {
  width: 4rem !important;
}

::ng-deep .mat-mdc-header-row {
  height: 35px !important;
}