.subscription-card {
   padding: 16px;
   margin: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
}

.message{
  font-weight: 500;
  font-size: 20px;
  color: #454545;
}

.chips-container {
   display: flex;
   gap: 8px;
   margin-top: 8px;
}

.price {
   font-weight: bold;
   font-size: 1.2rem;
   margin-top: 12px;
}

.price{
  font-weight: 900;
  font-size: 24px;
}

:host ::ng-deep .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__text-label {
  color: #fff !important;
  font-size: 12px;
}

:host ::ng-deep .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  background-color: #198754;
  height: 24px;
}

.mat-icon{
  padding: 3px;
  margin: 0 5px;
  height: 30px;
  width: 30px;
}

.mat-mdc-raised-button:not(:disabled) {
    background-color: #464bbd;
    color: #fff;
}

.description{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  height: 68px; 
}

.gradient-button {
  background: #8A2387;
  background: linear-gradient(316deg,#310e68 0%,#4a0d55 40%,#5f0f40 80%) no-repeat 0 0/cover;
  color: #fff !important;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  letter-spacing: .7px;
  transition: transform 0.3s, background-color 0.3s;
}

.gradient-button:hover{
  transform: scale(1.03);
  background: linear-gradient(300deg,#5f0f40 0%,#4a0d55 50%, #310e68 90%) no-repeat 0 0/cover;
}

.gradient-text {
  -webkit-text-fill-color: #0000;
  background: -webkit-linear-gradient(270deg, #d6001c -54.17%, #6d297b);
  background-clip: text;
  -webkit-background-clip: text;
}

::ng-deep .mat-mdc-card-header-text{
  width: 100% !important;
}