:host {
  display: block;
  }
  .input-textfield {
  --pure-input-safari-helper1: #D6001C;
  position: relative;
  display: flex;
  padding-top: 6px;
  font-family: var(--pure-input-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
  }

/* Input, Textarea */
.input-textfield > input,
.input-textfield > textarea {
  box-sizing: border-box;
  margin: 0;
  border: solid 1px; /* Safari */
  background: #F5F6F8;
  border-color: #D6001C;
  border-top-color: transparent;
  border-radius: 4px;
  padding: 15px 13px 15px;
  width: 100%;
  height: inherit;
  color: rgba(var(--pure-input-onsurface-rgb, 0, 0, 0), 0.87);
  background-color: transparent;
  box-shadow: none; /* Firefox */
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  caret-color: rgb(var(--pure-input-primary-rgb, 33, 150, 243));
  transition: border 0.2s, box-shadow 0.2s;
}

/* Span */
.input-textfield > input + span,
.input-textfield > textarea + span {
  position: absolute;
  top: 0;
  background-color: transparent !important;
  left: 0;
  display: flex;
  background: #F5F6F8;
  border-color: #D6001C;
  width: 100%;
  max-height: 100%;
  color: rgba(var(--pure-input-onsurface-rgb, 0, 0, 0), 0.6);
  font-size: 75%;
  line-height: 15px;
  color: #D6001C;
  cursor: text;
  transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}

/* Corners */
.input-textfield > input + span::before,
.input-textfield > input + span::after,
.input-textfield > textarea + span::before,
.input-textfield > textarea + span::after {
  content: "";
  display: block;
  box-sizing: border-box;
  margin-top: 6px;
  border-top: solid 1px transparent;
  border-top-color: #D6001C;
  min-width: 10px;
  max-width: 100%;
  height: 8px;
  pointer-events: none;
  box-shadow: inset 0 1px transparent;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.input-textfield > input + span::before,
.input-textfield > textarea + span::before {
  border-left: solid 1px transparent;
  border-radius: 4px 0;
}

.input-textfield > input + span::after,
.input-textfield > textarea + span::after {
  flex-grow: 1;
  margin-left: 4px;
  border-right: solid 1px transparent;
  border-radius: 0 4px;
}

/* Hover */
.input-textfield:hover > input,
.input-textfield:hover > textarea {
  background: #F5F6F8;
  border-color: #D6001C;
  border-top-color: transparent;
}

.input-textfield:hover > input + span::before,
.input-textfield:hover > textarea + span::before,
.input-textfield:hover > input + span::after,
.input-textfield:hover > textarea + span::after {
  // border-image-source: linear-gradient(270deg, #D6001C 13.02%, #6A1F7A 98.28%);
  // border-width: 2pt;
  // border-image-slice: 1;
}

.input-textfield:hover > input:not(:focus):placeholder-shown,
.input-textfield:hover > textarea:not(:focus):placeholder-shown {
  background: #F5F6F8;
  border-color: #D6001C;
}

/* Placeholder-shown */
.input-textfield > input:not(:focus):placeholder-shown,
.input-textfield > textarea:not(:focus):placeholder-shown {
  border-top-color: #D6001C;
  // border-image-source: linear-gradient(270deg, #D6001C 13.02%, #6A1F7A 98.28%);
  // border-width: 2pt;
  // border-image-slice: 1;
}

.input-textfield > input:not(:focus):placeholder-shown + span,
.input-textfield > textarea:not(:focus):placeholder-shown + span {
  font-size: inherit;
  line-height: 68px;
}

.input-textfield > input:not(:focus):placeholder-shown + span::before,
.input-textfield > textarea:not(:focus):placeholder-shown + span::before,
.input-textfield > input:not(:focus):placeholder-shown + span::after,
.input-textfield > textarea:not(:focus):placeholder-shown + span::after {
  border-top-color: transparent;
}

/* Focus */
.input-textfield > input:focus,
.input-textfield > textarea:focus {
  background: #F5F6F8;
  border-color: #D6001C;
  border-top-color: transparent;
  box-shadow: inset 1px 0 var(--pure-input-safari-helper1), inset -1px 0 var(--pure-input-safari-helper1), inset 0 -1px var(--pure-input-safari-helper1);
  outline: none;
}

.input-textfield > input:focus + span,
.input-textfield > textarea:focus + span {
  // color: #D6001C;
}

.input-textfield > input:focus + span::before,
.input-textfield > input:focus + span::after,
.input-textfield > textarea:focus + span::before,
.input-textfield > textarea:focus + span::after {
  box-shadow: inset 0 1px #D6001C;
}

/* Disabled */
.input-textfield > input:disabled,
.input-textfield > input:disabled + span,
.input-textfield > textarea:disabled,
.input-textfield > textarea:disabled + span {
  background: #F5F6F8;
  border-color: #D6001C !important;
  // color: rgba(#D6001C, 0.38);
  pointer-events: none;
}

.input-textfield > input:disabled + span::before,
.input-textfield > input:disabled + span::after,
.input-textfield > textarea:disabled + span::before,
.input-textfield > textarea:disabled + span::after {
  // border-image-source: linear-gradient(270deg, #D6001C 13.02%, #6A1F7A 98.28%) !important;
  // border-width: 2pt;
  // border-image-slice: 1;
}

.input-textfield > input:disabled:placeholder-shown,
.input-textfield > input:disabled:placeholder-shown + span,
.input-textfield > textarea:disabled:placeholder-shown,
.input-textfield > textarea:disabled:placeholder-shown + span {
  // border-image-source: linear-gradient(270deg, #D6001C 13.02%, #6A1F7A 98.28%) !important;
  // border-width: 2pt;
  // border-image-slice: 1;
}

.input-textfield > input:disabled:placeholder-shown + span::before,
.input-textfield > input:disabled:placeholder-shown + span::after,
.input-textfield > textarea:disabled:placeholder-shown + span::before,
.input-textfield > textarea:disabled:placeholder-shown + span::after {
  // border-image-source: linear-gradient(270deg, #D6001C 13.02%, #6A1F7A 98.28%) !important;
  // border-width: 2pt;
  // border-image-slice: 1;
}

/* Faster transition in Safari for less noticable fractional font-size issue */
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {
      .input-textfield > input,
      .input-textfield > input + span,
      .input-textfield > textarea,
      .input-textfield > textarea + span,
      .input-textfield > input + span::before,
      .input-textfield > input + span::after,
      .input-textfield > textarea + span::before,
      .input-textfield > textarea + span::after {
          transition-duration: 0.1s;
      }
  }
}