  <section class="text-lg-start min-vh-100">
    <div class="container-fluid">
    <div class="row d-flex justify-content-evenly align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <div class="d-flex justify-content-center flex-column align-items-center text-center">
          <h1 class="fw-bold font-size-30px text-center">Orgx</h1>
          <p class="tagline">Simplify Tenant and Company Administration—<span class="gradient-text">All in One Place.</span></p>
        </div>
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
          alt="Sample image" />
      </div>
      <div class="col-md-8 col-sm-10 col-lg-6 col-xl-4 shadow-lg p-4 m-3 sign-in-form">
        <h2 class="fw-bold font-size-30px text-center text-color mb-5">Forgot Password</h2>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
         
          <div class="form-outline mb-4">
            <mat-form-field appearance="outline" floatLabel="always" class="w-100">
              <mat-label class="label">Email address</mat-label>
              <input matInput formControlName="email" type="email" placeholder="Enter Email address" id="tenant_email" class="w-100" />
              <mat-error *ngIf="email?.invalid && email?.touched">
                Please enter a valid email.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-outline mb-4">
            <mat-form-field class="w-100" appearance="outline" floatLabel="always" *ngIf="role === 'employee'">
              <mat-label>Tenant Code</mat-label>
              <input matInput formControlName="tenant_code" placeholder="Enter tenant code" id="tenant_code" class="w-100" />
              <mat-error *ngIf="tenantCode?.invalid && tenantCode?.touched">
                Please enter tenant code.
              </mat-error>
            </mat-form-field>
          </div>
        
          <div class="text-center text-lg-start mt-4  pt-2">
            <button [disabled]="isLoading" [disabled]="forgotPasswordForm.invalid" class="mb-3 gradient-button w-100 text-white rounded" type="submit">
              Submit
              <div class="custom-spinner" *ngIf="isLoading" class="spinner-border spinner-border-sm"></div>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>