<section class=" d-flex align-items-center ">
  <div class="container position-relative">
   <!-- background circlse -->
    <div class="circle circle-1"></div>
    <div class="circle circle-2"></div>
    <div class="circle circle-3"></div>

    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6 d-none d-lg-block">
        <div class="side-container">
          <img src="assets/reset-password.png" alt="Protection Image" class="protection-image"/>
          <div class="side-container-text">
            <h3>Secure Your Password</h3>
            <p>Choose a strong password to protect your account</p>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-lg-6">
        <div class="reset-card shadow-lg">
          <h2 class="text-center mb-4">Reset Password</h2>
          <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-outline mb-4">
              <mat-form-field appearance="outline" class="w-100"  floatLabel="always">
                <mat-label>New Password</mat-label>
                <input matInput type="password" formControlName="password" placeholder="Enter New Password"/>
                <mat-error *ngIf="password?.invalid && password?.touched">
                  Password must be at least 6 characters long.
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="w-100 mt-3"  floatLabel="always">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm New Password"/>
                <mat-error *ngIf="resetPasswordForm.hasError('passwordsMismatch') && confirmPassword?.touched">
                  Passwords do not match.
                </mat-error>
              </mat-form-field>

            </div>


            <div class="d-grid gap-3">
              <button [disabled]="resetPasswordForm.invalid || isLoading" 
                      class="gradient-button w-100" 
                      type="submit">
                Reset Password
                <div class="spinner-border spinner-border-sm ms-2" *ngIf="isLoading"></div>
              </button>
              <button class="cancel-button w-100" 
                      type="button"
                      (click)="navigateToHome()">
                Cancel
              </button>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>