input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.toggle{
	display: flex;
}

.input-flex{
	display: flex;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 4rem;
	height: 30px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 30%;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #d60016;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 33px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}